<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vinicius</title>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    
    <nav>
        <a href="#">Vinicius</a>
        <ul>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#serviços">Serviços</a></li>
            <li><a href="#fotos">Fotos</a></li>
            <li><a href="#contatos">Contatos</a></li>
        </ul>
    </nav>

    <header id="topo">
        <h1>Vinicius</h1>
        <p>Wake up! Wake up! Wake up! Wake up! Wake up! Wake up! Wake up! Wake up!</p>
        <a href="#serviços" class="botao">Ver mais</a>
    </header>

    <section id="sobre">
        <h2>Sobre</h2>
        <p>Wake up!</p>
        <a href="#contatos" class="botao">contrate agora</a> 
    </section>

    <section id="serviços">
        <h2>Serviços</h2>

        <div>
            <img src="../img/9k.jpg" alt="sla">
            <h3>TESTE</h3>
            <p>Wake up!</p>
        </div>

        <div>
            <img src="../img/9k.jpg" alt="sla">
            <h3>TESTE</h3>
            <p>Wake up!</p>
        </div>

        <div>
            <img src="../img/9k.jpg" alt="sla">
            <h3>TESTE</h3>
            <p>Wake up!</p>
        </div>
    </section>

    <section id="fotos">
        <h2>fotos</h2>
        <img src="../img/images (1).png" alt="sla">
        <img src="../img/images (1).png" alt="sla">
        <img src="../img/images (1).png" alt="sla">
        <img src="../img/images (1).png" alt="sla">
        <img src="../img/images (1).png" alt="sla">
    </section>

    <section id="contatos">
        <h2>TESTE</h2>
        <p>Wake up!</p>

        <div>
            <img src="../img/9k.jpg" alt="sla">
            <p><a href="(70) 70707070">(70) 70707070</a></p>
        </div>

        <div>
            <img src="../img/9k.jpg" alt="sla">
            <p><a href="(70) 70707070">(70) 70707070</a></p>
        </div>
    </section>
 
    <footer>
        <a href="#topo">voltar</a>
        <p>Wake up!</p>
    </footer>

</body>
</html>